h1{
    color: darkorange;
}

.text-center{

    color: darkgoldenrod;
}


.img-fluid{

/* border: solid red; */
border-radius: 10px;

}

.description-body{

    color: whitesmoke;
    /* margin-top: 1cm; */
}

body{
background-image: url('https://images5.alphacoders.com/410/410316.jpg');
color: aliceblue;
font-family: 'Times New Roman', Times, serif;

}

img{
    height: 35vh;
    width: 45vh;
}

.navbar{

    background-color: aquamarine;
}